<div class="w-[50%] md-xl:w-[33%]">
  <h6 class="text-gray-500">{{  label }}</h6>
  <ul class="flex gap-6 mt-4 flex-col">
    {% for item in menus %}
      <li>
        <a href="{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
