<div class="flex justify-center items-center text-center flex-col">
  <h2 class="text-fontColor text-[2em] font-bold">{{ title }}</h2>
  {% if description %}
    <p class="text-fontColorSecondary font-[400]">{{ description }}</p>
  {% endif %}
</div>
