<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{content_for_header}}
    {{ 'output.css' |  asset_url |  stylesheet_tag }}
    <script src="{{ 'app.js' |  asset_url }}" defer></script>

</head>
<body>
    {% comment %} Header Start {% endcomment %}
     {% section 'header' %}
    {% comment %} Header End {% endcomment %}
    <main class="main_layout">
        {{content_for_layout}}
    </main>
    {% comment %} Footer Start {% endcomment %}
    {%  section 'footer' %}
    {% comment %} Footer End {% endcomment %}
</body>
</html>